# COPY THIS FILE TO '.env' FILE
# FILL OR CHANGE VALUE AS NEEDED

# App Port
PORT=

# APP Proxy Path
PROXY_PATH=

# SOCIAL MEDIA API URL
SOCMED_API_URL=
# SOCIAL MEDIA API KEY
SOCMED_API_KEY=

# Message Queue
MQ_HOST=
MQ_PORT=
MQ_USERNAME=
MQ_PASSWORD=
MQ_EXCHANGE=
MQ_QUEUE=
MQ_ROUTING_KEY=
MQ_VHOST=

# Secret Key
SECRET_KEY=
